<h1>Movies#index</h1>
<p>Find me in app/views/movies/index.html.erb</p>


<script>
  $(window).ready(function(){
    $.getJSON("/movies.json").then(function(data){
      var movies = data.movies;
      console.log(movies);
      // use underscore on the data
    })
  });





</script>


<div class="low-budgets">

</div>

<div class="leo-movies">

</div>
